listview {
	padding-left: 13px;
}

listview>row:hover {
	background: inherit;
}
listview:drop(active) {
	box-shadow: 0 0 0 1px #ca0033 inset;
}

label {
	font-size: 16px;
}

image.middle {
  -gtk-icon-size: 20px;
}

.sourceview {
	font-size: 20px;
	font-family: "Ubuntu Mono";
}
